.animatedBg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    --pointDimention: 200px;
}

.animatedBg span {
    height: calc(var(--pointDimention) *1.4);
    width: calc(var(--pointDimention) *1.4);
    position: absolute;
    border-radius: calc(var(--pointDimention) /3) calc(var(--pointDimention) /1.1) calc(var(--pointDimention) /2) calc(var(--pointDimention) /1.2);
    filter: blur(80px);
}

.animatedBg .point1 {

    filter: blur(100px);
    background: #1f383d;
    left: 5%;
    top: 10%;
}

.animatedBg .point2 {
    height: 40%;
    width: 40%;
    filter: blur(100px);
    background: #3d1f31;
    right: 5%;
    bottom: 10%;
}